@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';
@use '../form/FormSteps.module.scss';

.title {
    font: fonts.$f800-medium;
    color: colors.$primary-dark-color;
    margin-bottom: 1rem;
}

.layout {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.formContainer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-items: end;
}

.singleInputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.fullWidth {
    grid-column: span 2;
}

.multi {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
}

.input,
.inputToken {
    padding: 1rem 1rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
}

.icon {
    fill: colors.$primary-dark-color;
}

/* .inputToken {
  width: 100%;
}

.inputTokenContainer {
  margin-top: -10rem;
}
 */

.priceInAda {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    width: fit-content;
}
