@use '@/styles/settings/fonts';

.emptyStateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    flex-direction: column;
    gap: 2rem;
    h2 {
        font: fonts.$f900-medium;
        font-size: 52px;
        margin-bottom: 20px;
    }
}

.buttonContainer {
    width: 20%;
    min-height: 56px;
    display: flex;
}
