@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.toggleController {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  .toggle {
    width: 100px;
    height: 50px;
    border-radius: 100px;
    background-color: colors.$white-color;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    .point {
      position: absolute;
      width: 44px;
      height: 44px;
      border-radius: 22px;
      background-color: colors.$secondary-color;
      left: 4px;
      transition: all 0.5s;

      &.active {
        left: 52px;
        background-color: colors.$primary-green;
      }
    }
    &.disabled {
      cursor: not-allowed;
    }
  }
}