@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.campaignCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*     max-width: 400px;
 */
    height: 100%;
    padding: 20px;
    justify-content: space-between;
    background: colors.$light-color;
    border-radius: 20px;
    border: 1px, solid colors.$border-light-color;
    gap: 14px;
    &.active {
        background: colors.$white-color;
    }
    .headCard {
        display: flex;
        justify-content: space-between;
        .logoCard {
            width: 50px;
            height: auto;
        }
        .cardDetails {
            display: flex;
            height: 30px;
            gap: 10px;
            .statusContracts {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                .state {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;
                    height: 100%;
                    padding-inline: 18px 30px;
                    font: fonts.$f50-medium;
                    &.active {
                    }
                    &.tbl,
                    &.created,
                    &.signed,
                    &.ready,
                    &.deleted,
                    &.ended {
                        background: colors.$primary-yellow;
                    }
                }
                .category {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    padding-inline: 18px;
                    margin-left: -18px;
                    background: colors.$primary-light-color;
                    border-radius: 30px;
                    font: fonts.$f50-medium;
                }
            }
            .investors {
                display: flex;
                align-items: center;
                gap: 5px;
                background: colors.$secondary-background;
                height: 100%;
                padding-inline: 10px;
                border-radius: 30px;
                .cant {
                    color: colors.$white-font;
                    font: fonts.$f50-medium;
                }
                .icon {
                    fill: colors.$light-font;
                }
            }
        }
    }

    .cardTitle {
        width: 100%;
        font: fonts.$f500-medium;
    }
    .cardDescription {
        width: 100%;
        font: fonts.$f50-regular;
        color: colors.$secondary-font;
    }
}

/* LARGER SCREEN */

@media (width >= 942px) {
    .campaignCard {
        .headCard {
            .logoCard {
                width: 58px;
            }
            .cardDetails {
                height: 32px;
                .status {
                    .state {
                        font: fonts.$f200-medium;
                    }
                    .category {
                        font: fonts.$f200-medium;
                    }
                }
                .investors {
                    .cant {
                        font: fonts.$f200-medium;
                    }
                }
            }
        }
        .cardTitle {
            font: fonts.$f600-medium;
        }
        .cardDescription {
        }
    }
}

.state {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 100%;
    padding-inline: 18px 30px;
    font: fonts.$f50-medium;
}

.draft {
    background-color: colors.$blue-color;
}

.submitted,
.rejected,
.approved,
.created,
.deploy,
.ready {
    background: colors.$primary-yellow;
}

.countdown {
    background: colors.$blue-dark-color;
    color: white;
}

.actionsTarget {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.outline-card {
    color: colors.$primary-dark-color;
}

.fill {
    color: colors.$white-background;
}

.attempmt-to-launch {
    background-color: colors.$light-green;
}

.fundraising,
.active,
.collect,
.reported {
    background-color: colors.$intermediate-green;
}
