.buttonContainer {
    display: flex;
    gap: 1rem;
    justify-self: flex-end;
    // margin-top: 2rem;
    min-width: 60%;
}

// .buttonContainerInvest {
//     display: flex;
//     gap: 1rem;
//     width: 18.125rem;
//     height: 3.75rem;
//     justify-self: flex-end;
//     margin-top: 2rem;
// }
