@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.layout {
    z-index: 0;
}

.articleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .title {
        font: fonts.$f600-medium;
    }
}

.buttonContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
    z-index: -1;
}
.imagenContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    padding: none;
    margin: none;
    justify-self: flex-start;
    cursor: pointer;
    align-items: center;
    .spanContainer {
        max-width: 15.8125rem;
        gap: 0.5rem;
        .span {
            font: fonts.$f50-medium;
            color: colors.$light-gray-span;
        }
    }
}

.foundRasingContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: 100%;
}

.foundraisingController {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.sliderContainer {
    background-color: white;
    border-radius: 1.375rem;
    backdrop-filter: blur(17.399999618530273px);
    padding: 1rem 2.31rem 1rem 3.31rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    position: relative;

    .sliderHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    h3 {
        font: fonts.$f500-medium;
        color: colors.$primary-font;
    }
    h2 {
        font: fonts.$f1100-regular;
        color: colors.$primary-font;
    }
}

.buttonContainerLayout {
    width: 246px;
    align-self: flex-end;
}

.layout {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 0.5rem;
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .articleContainer {
        padding: 0 1rem;
    }
    .layout {
        grid-template-columns: 1fr;
    }
    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .articleContainer {
        padding: 0 1rem;
    }

    .buttonContainerLayout {
        width: 100%;
    }
    .imagenContainer {
        flex-direction: column;
        gap: 1rem;
        .spanContainer {
            max-width: 100%;
            gap: 0.5rem;
            .span {
                font: fonts.$f50-medium;
                color: colors.$light-gray-span;
            }
        }
    }
    .foundRasingContainer {
        grid-template-columns: 1fr;
    }
    .sliderContainer {
        padding: 1rem 1rem 1rem 1rem;
    }
}

.tooltipContainer {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3;
}

/* font-family: DM Sans;
font-size: 20px;
font-weight: 500;
line-height: 26.04px;
letter-spacing: -0.05em;
text-align: left;
 */
