@use '@/styles/settings/fonts.scss';
@use '@/styles/settings/colors.scss';
.container {
    display: flex;
    flex-direction: column;
    min-width: 25dvw;
    min-height: 25dvh;
    align-items: center;
}

.layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.title {
    font: fonts.$f900-medium;
    color: colors.$primary-dark-color;
    text-align: center;
}

.header,
.headerIcon {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.headerIcon {
    gap: 0.5rem;
    justify-content: center;
}

.header {
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.inputInformatiopn {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    min-width: 100%;
    justify-content: flex-start;
}

.addressContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.dataContainer {
    display: flex;
}

.iconInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.wallet_address {
    font: fonts.$f200-medium;
    color: colors.$primary-dark-color;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 310px; // Ajusta el ancho según sea necesario
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.wallet_address::before {
    content: attr(data-start);
    position: absolute;
    left: 0;
}

.wallet_address::after {
    content: attr(data-end);
    position: absolute;
    right: 0;
}

.buttonDisconectContainer {
    width: 250px;
    height: 60px;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
