@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.main {
    position: relative;
    display: flex;
    flex: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5vw 0;
    z-index: 0;
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.mainTitle {
    font: fonts.$f1400-bold;
    text-align: center;
}

.subTitle {
    font: fonts.$f600-medium;
    color: colors.$secondary-font;
    text-align: center;
    max-width: 450px;
    z-index: 2;
}

.peopleContainer {
    position: absolute;
    right: 0;
    pointer-events: none;
}

.pictureContainer {
    pointer-events: none;
    position: absolute;
    right: 5vw;
    bottom: -10vw;
    z-index: 0;

    width: 30vw;
    height: 600px;
    overflow: hidden; // Asegúrate de que el contenido no se desborde
    position: relative; // Necesario para que el layout="fill" funcione correctamente

    img {
        object-fit: contain; // Asegúrate de que la imagen se ajuste al contenedor sin recortarse
    }
}

@media screen and (max-width: 1000px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .peopleContainer {
        position: relative;
    }

    .pictureContainer {
        width: 80dvw;
        min-height: 50dvh;
        top: 0;
        margin-left: 10dvw;
        margin-top: 2rem;
        margin-bottom: -2rem;
    }
}

@media screen and (max-width: 768px) {
    .main {
        padding: 10dvw 2dvw;
        gap: 0px;
    }
    .mainTitle {
        font: fonts.$f1000-bold;
    }
    .subTitle {
        font: fonts.$f150-medium;
        width: 75%;
    }

    .peopleContainer {
        margin-top: 0rem;
    }
    .pictureContainer {
        width: 80dvw;
        margin-left: 10dvw;
        margin-top: 2rem;
        margin-bottom: -8rem;
        margin-top: 0;
        height: 10px;
    }
}
