@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

/* MOBILE FIRST */

.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    .titleSection {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 60px;
        .mainTitle {
            font: fonts.$f900-bold;
            text-align: center;
        }
        .subTitle {
            font: fonts.$f50-medium;
            color: colors.$secondary-font;
            text-align: center;
            width: 75%;
            max-width: 320px;
        }
    }
    .peopleSection {
        /*         position: relative;
 */
        position: absolute;
        width: 100%;
        display: flex;
        .imagePeople {
            margin: 0 auto;
            width: 90%;
            height: auto;
        }
    }
}

@media (width >= 380px) {
    .main {
        .titleSection {
            .mainTitle {
                font: fonts.$f1000-bold;
            }
        }

        .peopleSection {
            .imagePeople {
                max-height: 390px;
                width: auto;
            }
        }
    }
}

/* MEDIUM SCREEN */

@media (width >= 680px) {
    .main {
        .peopleSection {
            .imagePeople {
                max-height: 500px;
                width: auto;
            }
        }
    }
}

/* LARGER SCREEN */
@media screen and (min-width: 1700px) {
    .main {
        position: relative;
        .titleSection {
            margin-top: 120px;
            z-index: 1;
            .mainTitle {
                font: fonts.$f1400-bold;
            }
            .subTitle {
                font: fonts.$f600-medium;
                max-width: 450px;
            }
        }

        .peopleSection {
            position: absolute;
            top: 0;
            right: 20px;
            max-width: 566px;
            height: 600px;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1699px) {
    .main {
        position: relative;
        .titleSection {
            margin-top: 120px;
            z-index: 1;
            .mainTitle {
                font: fonts.$f1400-bold;
            }
            .subTitle {
                font: fonts.$f600-medium;
                max-width: 450px;
            }
        }

        .peopleSection {
            position: absolute;
            top: 0;
            right: 20px;
            max-width: 500px;
            height: 600px;
        }
    }
}

/* @media (width >= 1700px) {
    .main {
        position: relative;
        .titleSection {
            margin-top: 120px;
            z-index: 1;
            .mainTitle {
                font: fonts.$f1400-bold;
            }
            .subTitle {
                font: fonts.$f600-medium;
                max-width: 450px;
            }
        }

        .peopleSection {
            position: absolute;
            top: 0;
            right: 20px;
            max-width: 566px;
            height: 600px;
        }
    }
}


@media (width >= 1570px)   {
    .main {
        .titleSection {
            margin-right: 0px;
        }
    }
}
 */
