@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.campaignCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: colors.$white-color;
    border-radius: 20px;
    border: 1px, solid colors.$border-light-color;
    gap: 14px;
    height: 100%;
    min-height: 422px;
    justify-content: space-between;
    .headCard {
        display: flex;
        justify-content: space-between;
        .logoCard {
            width: 50px;
            height: auto;
        }
        .cardDetails {
            display: flex;
            height: 30px;
            gap: 10px;
            .status {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                .state {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;
                    height: 100%;
                    padding-inline: 18px 30px;
                    font: fonts.$f50-medium;
                    &.active {
                        background: colors.$light-green;
                    }
                    &.unreached {
                        background: colors.$secondary-red;
                        color: colors.$white-font;
                    }
                    &.failed {
                        background: colors.$primary-red;
                        color: colors.$white-font;
                    }
                    &.success {
                        background: colors.$primary-green;
                    }
                    &.fundraising {
                        background: colors.$intermediate-green;
                    }
                    &.complete {
                        background: colors.$primary-blue;
                        color: colors.$light-font;
                    }
                    &.countdown {
                        background: colors.$primary-blue;
                        color: colors.$light-font;
                    }
                }
                .category {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    padding-inline: 18px;
                    margin-left: -18px;
                    background: colors.$primary-light-color;
                    border-radius: 30px;
                    font: fonts.$f50-medium;
                }
            }
            .investors {
                display: flex;
                align-items: center;
                gap: 5px;
                background: colors.$secondary-background;
                height: 100%;
                padding-inline: 10px;
                border-radius: 30px;
                .cant {
                    color: colors.$white-font;
                    font: fonts.$f50-medium;
                }
                .icon {
                    fill: colors.$light-font;
                }
            }
        }
    }

    .cardTitle {
        width: 100%;
        font: fonts.$f500-medium;
    }
    .cardDescription {
        width: 100%;
        font: fonts.$f50-regular;
        color: colors.$secondary-font;
    }
}
