@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.layout {
    z-index: 0;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 0.5rem;
    width: 100%;

    @media screen and (max-width: 1300px) {
        grid-template-columns: 1fr;
    }

    @media screen and (max-width: 768px) {
        /* Aseguramos que el contenedor de botones ocupe el 100% en mobile */
        .buttonContainer {
            width: 100%;
        }
    }
}

/* Contenedor del slider */
.sliderContainer {
    background-color: white;
    border-radius: 1.375rem;
    backdrop-filter: blur(17.4px);
    padding: 1rem 2.31rem 1rem 3.31rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    position: relative;

    /* Encabezado del slider */
    .sliderHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h3 {
            font: fonts.$f500-medium;
            color: colors.$primary-font;
        }

        h2 {
            font: fonts.$f1100-regular;
            color: colors.$primary-font;
        }

        /* Tooltip en el header */
        .tooltipContainer {
            display: flex;
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 3;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    @media screen and (max-width: 768px) {
        padding: 1rem;
    }
}

/* Contenedor para los botones de selección */
.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    z-index: -1;

    @media screen and (max-width: 1300px) {
        flex-direction: row;
        justify-content: center;
    }
}
