@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-inline: 20px;
    margin-bottom: 30px;
    .btnActions {
        display: flex;
        width: 100%;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        .sectionController {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .btnDrop {
                display: flex;
                align-items: center;
                gap: 16px;
            }
            .toggleController {
                display: flex;
                align-items: center;
                gap: 8px;
                order: -1;
                .toggleText {
                    color: colors.$secondary-color;
                    &.active {
                        color: colors.$black-color;
                    }
                }
            }
        }
        .searchInput {
            width: 30%;
        }
    }
}

@media screen and (max-width: 768px) {
    .filters {
        padding: 1rem;
        .btnActions {
            min-width: 100%;
            flex-direction: column;
            gap: 1rem;
            .searchInput {
                min-height: 55px;
                width: 100%;
            }
        }
    }

    .btnDrop {
        min-height: 55px;
        display: flex;
    }
}
