@use "@/styles/settings/fonts";
@use "@/styles/settings/colors";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  padding: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid colors.$light-color;
  font: fonts.$f600-medium;
  background-color: colors.$light-color;
  backdrop-filter: blur(17.399999618530273px);
  border-radius: 0.8125rem;
  color: colors.$primary-font;
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.1s;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.funds {
  font: fonts.$f200-medium;
}

.percentageTotal {
  background-color: transparent;
  border: none;
  display: flex;
  text-align: center;
  color: black;
  font: fonts.$f800-medium;
  width: 100%;
  cursor: pointer;
  caret-color: #efe378;
  caret-shape: block;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.percentageTotal:focus {
  outline: none;
  color: rgb(194, 194, 194);
}

.percContainer {
}

// MilestonePercentage.module.scss
.percentageTotal {
  // Remove spinner arrows for Chrome, Safari, Edge, Opera
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Remove spinner arrows for Firefox
  &[type="number"] {
    -moz-appearance: textfield;
  }

  // Rest of your existing styles...
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
    width: 100%;
  }
  .percentageTotal {
    width: 100%;
  }
}

.percentageTotalSpan {
  font: fonts.$f800-medium;
  color: colors.$primary-font;
}
