@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    .title {
        font: fonts.$f1100-bold;
        margin-top: 10dvh;
    }

    span {
        font: fonts.$text-edit;
        font-size: 1.25rem;
        text-align: center;
        max-width: 48rem;
        margin: 0 auto 2rem auto;
        color: #4b5563;
    }
}

.faqContainer,
.faqContainerB {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    .faqList {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;

        .faqItem,
        .faqItemB {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            justify-content: space-between;

            .faqContent {
                flex: 1;
                max-width: 70%;
                display: flex;
                flex-direction: row;
                gap: 2rem;

                .number {
                    color: #000;
                    font-family: 'DM Sans';
                    font-size: 39.76px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 122%; /* 48.507px */
                }

                .divitionLineContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .divitionLine {
                        width: 5px;
                        height: 79px;
                        background: #000;
                    }
                    .divitionLineOrange {
                        width: 2px;
                        height: 155px;
                        background-color: #f1a500;
                    }
                }

                .textContent {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }
                .faqTitle {
                    color: #292929;
                    font-family: 'DM Sans';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 122%;
                }

                .faqDescription {
                    font-size: 16px;
                    color: #444;
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 122%;
                }
            }

            .faqImageContainer {
                flex-shrink: 0;
                position: relative;
                height: 238px;
                width: 200px;
                .faqImage {
                    height: auto;
                }
            }
            .divisorLine {
                width: 700px;
                height: 1px;
                background-color: #292929;
                justify-content: flex-end;
                place-self: flex-end;
                margin-right: 1rem;
                margin-top: 5rem;
            }
        }
    }
}

.faqContainerB {
    width: 100%;
    padding: 0rem;
    margin-top: 4rem;

    .faqItemB {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-radius: 10px;
        width: 100% !important;
        justify-content: space-between;
        .faqImageContainer {
            flex-shrink: 0;
            position: relative;
            height: 238px;
            width: 200px;
            .faqImage {
                height: auto;
            }
        }
    }
}
