@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.generalButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.375rem;
    width: 100%;
    border: 1px solid;
    padding: 1rem 2rem;
    /*     background-color: colors.$primary-dark-color;
 */
    color: colors.$white-background;
    font: fonts.$f400-medium;

    @media (max-width: 1360px) {
        padding: 0.7rem 0.5rem;
    }

    &:disabled {
        background-color: colors.$disabled;
        color: colors.$placeholder-color;
        cursor: not-allowed;
    }
}

.outline {
    background: colors.$white-background;
    color: colors.$primary-dark-color;
    border: 1px solid colors.$primary-dark-color;
}

.active-nav {
    font: fonts.$f200-medium;
    background-color: colors.$primary-dark-color;
}

.passive-nav {
    background-color: colors.$gray-menu;
    color: colors.$primary-dark-color;
    border: 1px solid colors.$primary-dark-color;
    font: fonts.$f200-medium;
}

.passive-nav-transparent {
    background-color: transparent;
    color: colors.$primary-dark-color;
    border: 1px solid colors.$primary-dark-color;
    font: fonts.$f200-medium;
}

.overview {
    background-color: #3e5bc1;
    font: fonts.$f200-medium;
}

.green {
    background: var(--Green, #76d13e);
    font: fonts.$f200-medium;
    width: 100%;
}

.menu-index,
.menu-index-selected,
.navegation-buttons-add {
    background-color: colors.$gray-menu;
    color: colors.$secondary-background;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: visible;
    text-align: left;
    border: none;
    padding-inline: 1rem;
    font: fonts.$f150-medium;
    @media (max-width: 768px) {
        padding: 0.7rem 0.5rem;
    }

    @media (max-width: 1360px) {
        padding: 0.7rem 0.5rem;
    }
    transition: all ease 0.1s;
}

.menu-index:hover,
.menu-index-selected:hover {
    border: 1px solid colors.$primary-dark-color;
}

.menu-index {
    border: 1px solid colors.$primary-dark-color;
    scale: 1.1;
}

.hasContentButton {
    background-color: red;
}

.non-empty-content {
    background-color: colors.$primary-dark-color;
    color: colors.$white-background;
    font: fonts.$f400-medium;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .menu-index,
    .menu-index-selected,
    .non-empty-content {
        padding: none;
        text-wrap: nowrap;
        align-self: center;
        justify-self: center;
        min-width: 200px;
        height: 100%;
    }
    .passive-nav-transparent,
    .active-nav,
    .overview {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}

.menu-index-selected {
    padding: 1rem;
}

.navegation-buttons-add {
    scale: 0.8;
    justify-self: flex-end;
    align-self: flex-end;
    background-color: red;
}

/* BOTONES DEL DASHBOARD */

.fill {
    background-color: colors.$primary-dark-color;
    color: colors.$white-background;
    font: fonts.$f400-medium;
    border: none;
    padding: 0.5rem;
    border-radius: 2.375rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        scale: 1.05;
    }
    &:disabled {
        background-color: colors.$disabled;
        color: colors.$placeholder-color;
        cursor: not-allowed;
    }
}

.outline-card {
    background: transaprent !important;
    padding: 0.5rem;
    color: colors.$primary-dark-color;
    border: 1px solid colors.$primary-dark-color;
    justify-content: space-between;
    transition: all 0.3s ease;

    &:hover {
        scale: 1.05;
    }
}

.center {
    justify-content: center;
}
