@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.stepContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border: 1px solid colors.$primary-theme-color;
    border-radius: 20px;
    user-select: none;
    .text {
      color: colors.$primary-theme-color;
      font: fonts.$f200-medium;
    }
    &.active {
      background: colors.$primary-theme-color;
      .text {
        color: colors.$primary-font;
      }
    }
  }
}

@media (width > 640px) {
  .stepContainer {
    flex-direction: column;
    align-items: flex-start;
    .step {
      max-width: 95px;
    }
  }
 }

