//PRIMARY COLORS

$primary-background: linear-gradient(180deg, #E3EDFF 0%, #FFFFFF 100%);
$secondary-background: #292929;
$white-background: #FFFFFF;



$primary-font: #292929;
$secondary-font: #7C7C7C;
$light-font: #F0F0F0;
$white-font: #FFFFFF;

$white-color: #FFFFFF;
$black-color: #000000;
$primary-dark-color: #292929;
$primary-light-color: #F9F9F9;

$placeholder-color: #AFAFAF;
$placeholder-secondary-color: #A8B0C1;

$primary-color: #D8E6FE;
$secondary-color: #6C6C6C;
$light-color: #F1F1F1;
$border-light-color: #E4E4E4;
$border-dark-color: #242529;
$border-secondary-dark-color: #0C1910;

$btn-secondary: #F6FAFF;

$primary-green: #76D13E;
$secondary-green: #71C464;
$light-green: #D7FFBE;
$intermediate-green: #BEFF54;

$primary-blue: #07124C;
$primary-theme-color: #E7F0FF;

$primary-red: #FE0101;
$secondary-red: #800000;
$light-red: #FF4949;

$primary-yellow: #F0A500;





