@use "@/styles/settings/fonts";
@use "@/styles/settings/colors";

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;

  .checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid colors.$black-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.2s ease;
    user-select: none;
    position: relative;

    .checkmark {
      color: colors.$white-color;
      font-size: 12px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0; /* Oculta el contenido por defecto */
      transition: opacity 0.2s ease; /* Agrega una transici칩n suave a la opacidad */
    }

    &.checked {
      background-color: colors.$full-black;

      .checkmark {
        opacity: 1; /* Muestra el contenido cuando est치 marcado */
      }

      &:hover {
        background-color: colors.$red-disabled;

        .checkmark {
          opacity: 1; /* Asegura que el contenido se vea cuando est치 en estado hover y marcado */
        }
      }
    }

    &:hover:not(.checked) {
      .checkmark {
        opacity: 1; /* Muestra el contenido cuando est치 en estado hover y no marcado */
        color: black;
      }
    }
  }

  .labelText {
    cursor: pointer;
    user-select: none;
  }
}
