@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;

  .checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid colors.$black-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.2s ease;
    user-select: none;
    &.checked {
      background-color: colors.$secondary-green;
    }
    .checkmark {
      color: colors.$white-color;
      font-size: 12px;
    }
  }
  .labelText {
    cursor: pointer;
    user-select: none;
    
  }
}