@use '@/styles/settings/colors';
@use '@/styles/settings/fonts';

.overlay {
    position: fixed;
    height: 100%;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: fit-content;
    flex-direction: column;
    border-radius: 16px;
    background: colors.$primary-background;
    padding: 2rem;
}

.drawerContent {
    background: colors.$primary-background;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.closeButton {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    background-color: transparent;
    span {
        font: fonts.$f800-medium;
        color: colors.$primary-dark-color;
    }
}
