@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';
.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    h1 {
        font: fonts.$f1400-bold;
        color: colors.$primary-dark-color;
    }
}

.textInfo {
    display: flex;
    justify-self: flex-start;
    flex-direction: row-reverse;
    align-items: flex-start;
    max-width: 60dvw;
    gap: 1rem;
    h2 {
        font: fonts.$title-medium;
    }
}

.imagenContainer {
    position: relative;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
}
