@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

@mixin inputStyles {
    width: 100%;
    height: 100%;
    border: 1px solid colors.$border-secondary-dark-color;
    padding-inline: 30px;
    border-radius: 16px;
    background: transparent;
    color: colors.$black-color;
    &::placeholder {
        color: colors.$placeholder-secondary-color;
        text-transform: capitalize;
    }
    &:focus {
        outline: none;
        background-color: colors.$white-background;
    }
}
