@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.editor:focus {
    outline: none;
}

.toolbar {
    button {
        margin-right: 5px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ccc;
        background: #f4f4f4;
        cursor: pointer;

        &:hover {
            background-color: #ddd;
        }
    }
}

.main {
    position: relative;

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    ol {
        li {
            list-style-type: decimal;
        }
    }

    ul {
        li {
            list-style-type: disc;
        }
    }

    u {
        text-decoration: underline;
    }

    s {
        text-decoration: line-through;
    }

    img,
    iframe {
        width: 100%;
        height: 318px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
    }
}

.quillEditor,
.quillEditorB {
    display: flex;
    flex-direction: column;
    position: relative;

    &.quillEditor {
        gap: 5rem;
    }

    &.quillEditorB {
        gap: 1rem;
    }
}

.title {
    position: absolute;
    top: 60px;
    font: fonts.$text-edit;

    @media screen and (max-width: 768px) {
        top: 90px;
    }
}
