@use "@/styles/settings/fonts";
@use "@/styles/settings/colors";

.headerCampaignContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.avatar {
  transform: scale(2.25);
}

.title {
  color: colors.$campaign-dark-font;
  font: fonts.$title-medium;
}
