.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.plus {
  border: 1px solid black;
  border-radius: 0.2rem;
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-weight: 300;
}

.plus.open:before {
  transform: rotate(45deg);
}

.plus.open {
  border: none;
  font-size: 30px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .buttonContainer {
    align-items: center;
    justify-content: center;
    width: 70%;
  }
}
