@use '@/styles/settings/fonts';
@use '@/styles/settings/colors';

.icon-container {
    position: relative;
    display: inline-block;
}

.icon {
    fill: colors.$primary-font;
    transition: all 0.3s;
    z-index: 2; /* Asegúrate de que el ícono esté por encima del pseudo-elemento */
    position: relative; /* Asegúrate de que el ícono esté posicionado relativamente */
}

.icon-container:hover .icon {
    fill: colors.$light-color;
}

.icon-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: colors.$secondary-background;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease;
    z-index: 1; /* Asegúrate de que el pseudo-elemento esté por debajo del ícono */
}

.icon-container:hover::before {
    width: 40px;
    height: 40px;
}
